<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-android-cordova-log-adapter"
        version="1.0.0">

    <name>cordova-plugin-android-cordova-log-adapter</name>
    <description>Cordova/Phonegap plugin to migrate any code which uses android.util.Log to org.apache.cordova.LOG in a Cordova Android platform project.</description>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
    </engines>

    <platform name="android">
        <hook type="after_prepare" src="apply.js" />
    </platform>

</plugin>
